body {
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

    li a.active {
        background-color: #04AA6D;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

.user{
    position:fixed;
    top:21px;
    right:19px;
    font-style:italic;
    font-size:larger;
}

.button-LogOut {
    border-style: groove;
    border-color: #808080;
    background-color:white;
    color:black;
}
    .button-LogOut:hover {
        background-color: #808080;
        color: white;
    }
